body{
    font-size: 20px;
    font-family: Optima;
    /* background-color: lightgray; */
    /* Example of a linear gradient background */
    background-image: linear-gradient(to right, lightpink, gold);
    /* Replace #ff0000 with the starting color, and #00ff00 with the ending color */
    /* You can specify different colors and positions for more complex gradients */
  
}

h1{
    font-size: 40px;
}

.inputfields{
    padding: 8px;
    border-radius: 15px;
}
.inputfields:hover, .inputfields:focus{
    background-color: lightblue;
}
/* button{
    background-color:lightgreen;
    border-radius: 100px;
    padding: 10px;
    font-size: 20px;
}
button:hover{
    scale: 120%;
    transition: 300ms ease;
    background-color:greenyellow
} */
#cancel{
    background-color:lightskyblue;
}
#cancel:hover{
    scale: 120%;
    transition: 300ms ease;
    background-color: navy;
    color:white;
}
#review{
    background-color:lightgreen;
}
#review:hover{
    scale: 120%;
    transition: 300ms ease;
    background-color: green;
    color:white;
}
.btn{
    border-radius: 100px;
    padding: 10px;
    font-size: 20px; 
    margin: 10px;
}

#sec1{
    font-size: 18px;
    font-family: 'Comic Sans MS';
    margin: 20px auto;
}
#sec1:hover,#sec1:focus{
    background-color: lightsalmon;
}

#odr{
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    padding: 10px;

}
.post{
    margin-left: 17%;
    margin-right: 15%;
    max-width: 1500px;
    text-align: center;
}
/* input[type="radio"]{
} */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: larger;
  }

  nav ul li:hover {
    scale: 120%;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 1px;
    margin-top: 2pox;
    margin-bottom: 2px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
    font-size: 20px;
    
  }
  
  nav ul li a:hover {
    color: #fff;
    
  }

  .navbtn{
    background-color: skyblue;
    border-radius: 20px;
    padding: 10px;
    font-size: 8px; 
    margin: 1px;
    /* color: black; */
  }
  .navbtn:hover{
    scale: 120%;
    transition: 300ms ease;
    background-color: rgb(14, 168, 229);
    color: black;
  }

  /* Apply styles using the table ID */
#orderTable {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: black;
    border: #000000 1px solid;
  }
  
  #orderTable thead {
    background-color: #f2f2f2;
    border: #000000 1px solid;
  }
  
  #orderTable th {
    padding: 12px;
    
    /* text-align: left; */
  }
  
  #orderTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    border: #000000 1px solid;
  }
  
  #orderTable td {
    padding: 12px;
  }
  
  #orderTable tfoot {
    background-color: #f2f2f2;
    border: #000000 1px solid;
  }
  
  #orderTable tfoot td {
    padding: 12px;
    text-align: right;
    font-weight: bold;
  }
  